-# frozen_string_literal: true
= simple_form_for(@category) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :name, label: t('.name') #Se agrego ", label: t('.name')"  depues el comando "bundle exec i18n-tasks add-missing" previamente instalada "gem 'i18n-tasks', '0.9.34'"
    = f.input :description, label: t('.description')

  .form-actions
    = f.button :submit
